.game {
  padding: 20px;
  height: 400px;
  width: 600px;
  background-color: darkslategrey;
  display: flex;
  flex-wrap: wrap;
  .header {
    flex-basis: 100%;
  }
}

.console {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .buttons.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button {
    font-size: larger;
    padding: 0.5em;
  }
}
.header {
  button {
    font-size: large;
    padding: 0.5em;
    margin: 0 0.5em;
  }
}

.history {
  h4 {
    text-align: center;
  }
  .selected {
    font-weight: bold;
    list-style-type: ">     ";
  }
}

.board {
  height: 210px;
  width: 210px;
  flex-shrink: 0;
  position: relative;
  align-self: center;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  button {
    height: 70px;
    width: 70px;
    margin: 0;
    padding: 0;
    flex: 0 0 70px;
    background-color: darkgrey;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    box-shadow: 0 0 1.5px 2px black inset;

    &:hover:not(:disabled) {
      box-shadow: 0 0 5px 3px black inset;
    }
    &:active:not(:disabled) {
      box-shadow: 0 0 10px 5px black inset;
    }
  }
  svg.winningLine {
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
