.wrapper {
  background-color: #142222;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-router-outlet {
  display: inline-block;
}
